.course{
    display:flex;
    border-bottom: 2px solid lightgrey;
    margin-top:20px;
    padding-bottom:20px;
    
}

.course img{
    width:200px;
    margin: 15px;
    padding:5px;

}
.main-button{
    width:140px;
   
    

}